<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem
        id="salesupply_menu_root"
        name="Salesupply"
        action="weenect_salesupply.salesupply_shop_action"
        web_icon="weenect_salesupply,static/description/icon.png"
        groups="stock.group_stock_manager,stock.group_stock_user"/>

    <menuitem
        id="stock_salesupply_shop_menu"
        name="Shops"
        parent="weenect_salesupply.salesupply_menu_root"
        action="weenect_salesupply.salesupply_shop_action"
        sequence="10"/>

    <menuitem
        id="salesupply_menu_stock"
        name="Inventory"
        groups="stock.group_stock_manager,stock.group_stock_user"
        parent="weenect_salesupply.salesupply_menu_root"
        sequence="20">

        <menuitem
            id="salesupply_receptions_menu"
            name="Salesupply receptions"
            action="salesupply_receptions_action"
            sequence="10"/>

        <menuitem
            id="salesupply_deliveries_menu"
            name="Salesupply deliveries"
            action="salesupply_deliveries_action"
            sequence="15"/>

        <menuitem
            id="salesupply_product_menu"
            name="Products"
            action="weenect_salesupply.salesupply_product_template_action"
            sequence="20"/>
    
    </menuitem>

    <menuitem
        id="salesupply_menu_configs"
        name="Configuration"
        groups="stock.group_stock_manager"
        parent="weenect_salesupply.salesupply_menu_root"
        sequence="90">

        <menuitem
            id="salesupply_menu_connection"
            name="API configurations"
            action="weenect_salesupply.salesupply_connection_action"
            sequence="10"/>

        <menuitem
            id="salesupply_menu_log"
            name="Synchronization logs"
            action="salesupply_log_action"
            sequence="20"/>

        <menuitem
            id="stock_warehouse_menu"
            name="Warehouses"
            action="weenect_salesupply.salesupply_action_warehouse_form"
            sequence="30"/>

        <menuitem
            id="salesupply_sale_status_menu"
            name="Order statuses"
            action="weenect_salesupply.salesupply_sale_status_action"
            sequence="40"/>
    
    </menuitem>

</odoo>
