[submodule "edi"]
	path = edi
	url = git@github.com:OCA/edi.git
	branch = 16.0

[submodule "partner-contact"]
	path = partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 16.0

[submodule "edi"]
	path = edi
	url = git@github.com:OCA/edi.git
	branch = 16.0

[submodule "partner-contact"]
	path = partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 16.0

[submodule "odoo-test-helper"]
	path = odoo-test-helper
	url = git@github.com:OCA/odoo-test-helper.git
	branch = master
